footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  background-color: black;
  border-top: 1px solid #fff;
}

@media screen and (max-width: 540px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 460px) {
  footer {
    font-size: .8rem;

  }
}