h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  padding: 0;
}

strong {
  height: 3.5rem;
}

@media screen and (max-width: 590px) {
  h1 {
    font-size: 2.5rem;
  }

  strong {
    height: 2.5rem;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 2rem;
  }

  strong {
    height: 2rem;
  }
}