@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mukta', sans-serif;
  background-color: #181D31;
  color: #fff;
}

input {
  outline: none;
}

.main {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-section {
  margin-bottom: 10rem;
}

a {
  color: #fff;
  margin-left: 5px;
}

a:hover {
  text-decoration: none;
}